{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": [
    "babel",
    "react"
  ],
  "globals": {
    "__CONFIG__": true,
    "__DEV__": true
  }
}
