* { 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body { font-family: sans-serif }

body { background: #222 }

.tags { background: #eee }

.panel { width: 24em }

.panel .menu + .content { padding-top: 3.25rem }

.menu {
	background: rgba(240,240,240,0.96);
	border-bottom: 1px solid rgba(64,64,64,0.4);
	padding: 0 1em;
	float: left;
	width: 100%;
	height: 3.5rem;
}

.panel {
	background: transparent;
	width: 24em;
	max-width: 80%;
	height: 100vh;
}

.panel.primary { float: left }

.panel.secondary { float: right }

h1 { font-weight: normal }

.tags section { margin: 0.5em 0 }

.tags h1 { padding: 0 0.75rem }

.tags ul { padding: 0.5rem }

.tags h1 { color: gray }

.tags h1 { font-size: 87.5% }
.tags h1 { text-transform: uppercase }

.tag { 
	background: #ddd;
	margin: 0.25em;
	display: inline-block;
	padding: 0.5em 0.75em;
	height: 2.25em;
	cursor: pointer;
}

.tags section {
	padding: 1rem 0.5rem 0.5rem;
}

.tags li { display: inline }

li { list-style: none }

label input[type=checkbox] { display: none } 

.panel { overflow: hidden }

.menu input {
	background: white;
	height: 2.5rem;
	font-size: 1em;
	border: none;
	width: 100%;
	padding: 0.5em;
	border-radius: 0.325em;
	outline: 0;
	margin: 0.5rem 0;
}

.menu input:focus { background: #fff }

body { margin: 0 }





