article section {
  /*background: green;*/
  /*border-right: 1px solid #ddd;*/
  /*min-height: 100%;*/
}

#dataset {
  background: white;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 32em;
  bottom: 0;
  /*padding-left: 32em;*/
  border-right: 1px solid #ddd;
}

#dataset section { 
  /*padding: 2.5em 40px 5em;*/
  margin: 0 auto;
  display: block;
}
#dataset .datasetheader{
  padding: 2.5em 40px 0;
}
#dataset .datasetbody{
  padding: 0 40px 2.5em;
}
.datasetfooter{
  padding: 2.5em 40px 5em;
  background: #F5F5F6;
  display: flex;
}
.metadata.related,
.metadata.fields{
  width: 50%;
}
.metadata.related li{
  margin-bottom: 1em;
}


article .tag {
  background: hsl(252, 50%, 48%);
  padding-left: 0.75em;
  padding-right: 0.75em;
  color: white;
}


#dataset h1 {
  font-weight: 600;
  font-size: 200%;
  line-height: 1.2;
  margin: 0 0 1em;
  padding-right: 2.5em;
}

p {
  max-width: 56em;
  margin: 1em 0;
  font-size: 112.5%;
  line-height: 1.6;
}

.button.close {
  background: silver;
  position: absolute;
  right: 2em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  top: 1.75em;
}







