article section {
  background: green;
  /*border-right: 1px solid #ddd;*/
  min-height: 100%;
}

#dataset {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 32em;
  bottom: 0;
  padding-left: 32em;
  border-right: 1px solid #ddd;
}

#dataset section { padding: 2.5em 1em 5em }



#article #searchPanel .content  {
  display: none;
  opacity: 0;
}

#dataset h1 {
  font-weight: 600;
  font-size: 200%;
  line-height: 1.2;
  margin: 0 0 1em;
  padding-right: 2.5em;
}

p {
  max-width: 56em;
  margin: 1em 0;
  font-size: 112.5%;
  line-height: 1.6;
}

.button.close {
  background: silver;
  position: absolute;
  right: 2em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  top: 1.75em;
}







